_output/
.idea/
_build/msvc_32/
*.user
_build/msvc_32_nmake/
build/32_msvs_2013_nmake/
build/32_msvs_2015_nmake/CMakeFiles/libcoursework.dir/src/libraries/libcoursework/image.cpp.obj
build/32_msvs_2015_nmake/
output/
build/32_msvs_2015/
*.sdf
*.suo
Debug/
*.pdb
*.opensdf
*.obj
*.tlog
*.log
src/libraries/libcoursework_cuda/x64/
src/libraries/libcoursework_cuda/Release/
build/64_nmake_icpp16/
build/64_nmake_msvc2015/
build/64_msvs_2015_nmake/
build/64_nmake_msvc2013/
build/64_msvs_msvc2013/
